/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
	font-size: 14px;
	
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.tym {
	display:flex;
	flex-wrap: wrap;
	
}

.osoba{
	border-color: gray;
	border-style: solid;
	border-width: 1px;
	border-radius: 2%;
	flex: 1 1 calc(100% - 3%);
	text-align: center;
	padding: 20px;
	margin: 5px;
	box-shadow: 2px 2px 2px darkgrey;
	justify-content: center;

}

.img {
	border-radius: 50%;
	width: 40%;
				
}
 
.popis{
	padding: 20px;
	display:flex;
	flex-flow: wrap;
	justify-content: center;
	
}


@media (min-width: 480px) {
    .osoba {
        flex: 1 1 calc((100% / 2) - 5%); 
		
		
    }
	.img {
		float: left;
		
		
	}

	.popis {
		text-align: left;
	}

	h2 {
		text-align: left;
	}

}

@media (min-width: 860px) {     
	.osoba {
        flex: 1 1 calc((100% / 4) - 5%); 
		
		
    }

	.img {
		width: 50%;
		float: none; 
	}

	h2 {
		text-align: center;
	}

}
