/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
	font-size: 14px;
	
}

h1 {
	text-align: center;
}

.tym{
	display:flex;
	flex-wrap: wrap;
	
}

.osoba{
	border-color: gray;
	border-style: solid;
	border-width: 1px;
	border-radius: 2%;
	flex: 1 1 calc((100% / 2) - 5%);
	padding: 20px;
	margin: 8px;
	box-shadow: 2px 2px 2px darkgrey;
	align-items: stretch;

}

.img {
	border-radius: 50%;
	float: left;
	align-content: center;
	padding: 40px;
		
			
}
 
.popis{
	padding: 20px;
	display:flex;
	flex-flow: wrap;
	
}

@media (min-width: 480px){
    .osoba {
        flex: 1 1 calc(100% - 3%); 
    }
}

@media (min-width: 860px){
    .osoba {
        flex: 1 1 calc((100%/2) - 5%); 
    }

}

@media (min-width: 1020px) {     
	.osoba {
        flex: 1 1 calc((100%/4) - 5%); 
    }

	.img{
		float:none;
	}
}
